# Archivos de R / RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Salidas generadas
Dashboard/HTML/
Informe/PDF/
Presentacion/Codigo/figs/
Presentacion/Codigo/*_cache/

# Cachts de knitr / Rmarkdown
**/cache/
**/*_cache/
**/*_files/

# Archivos del sistema
.DS_Store
Thumbs.db